@font-face {
  font-family: 'Brother';
  src: url('fonts\BROTHER\BROTHER-Bold.otf') format('otf'),
       url('fonts\BROTHER\BROTHER-Bold.ttf') format('ttf');
  font-weight: bold; /* ou bold, se for uma versão em negrito */
  font-style: bold;  /* ou italic, se for uma versão itálica */
}

body {
    font-family: 'Brother', sans-serif;
    font-size: 22px;
    padding: 0;
    color: #fc8904;
    background-color: #1f1f1f;
  }
  .header {
    display: flex;
    border-bottom: 1px solid #f95ff5;
    margin-bottom: 10px;
  }
  .header img{
    text-align: flex;
    width: 100%;
    width: 150px;
    height: 100px;
    object-fit: fill;
  }
  .logo{
    font-family: 'Brother', sans-serif;
    font-style: normal;
    color: #f95ff5;
    font-size: 24px;
    font-weight: 700;
    text-align: flex;
    width: 90%;
    margin-top: 30px;
    margin-left: 30px;
  }
.nav-menu ul {
    font-family: 'Brother', sans-serif;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    margin-right: 30px;
    padding: 0;
  }
  .nav-menu a {
    text-decoration: none;
    font-weight: 600;
    color: #fc8904;
    transition: color 0.3s;
    font-size: 22px;
  }
  nav {
    display: flex;
    justify-content: center; /* Centraliza os itens */
    align-items: center;
    width: 100%;
  }
  card {
    display: flex;

  }